<a href="https://colab.research.google.com/github/chaitanyamadame123/Abc/blob/main/Untitled6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
## bisection Method ##
import numpy as np
import pandas as pd

In [6]:
def f(x): return np.sin(5*x) + np.cos(2*x)

In [7]:
def bisec2(f,a,b):
  xi = (a + b)/2
  if f(a)*f(b) > 0: return [xi, a, b, "Root Not Bracketed"]
  elif f(xi) == 0: return [xi, a, b, "Root Found"]
  elif f(xi)*f(a) < 0: return [xi, a, xi, "Root between a and xi"]
  elif f(xi)*f(b) < 0: return [xi, xi, b, "Root between xi and b"]

In [8]:
def bisection(ErrorTable,ErrorNoteTable,atable,btable,xtable):
  MaxIter = 20
  eps = 0.0005
  Stopcode = "NoStopping"
  i = 0
  while i <= MaxIter and Stopcode == "NoStopping":
    ri = bisec2(f, atable[i], btable[i])
    if ri[3] == "Root Not Bracketed": 
      xtable.append(ri[0])
      ErrorNoteTable.append(ri[3])
      break
    if ri[3] == "Root Found":
      xtable.append(ri[0])
      ErrorTable.append(0)
      ErrorNoteTable.append(ri[3])
      break
    atable.append(ri[1])
    btable.append(ri[2])
    xtable.append(ri[0])
    ErrorNoteTable.append(ri[3])

    if i != 0:
      ei = (xtable[i] - xtable[i - 1])/xtable[i]
      ErrorTable.append(ei)
    if abs(ErrorTable[i]) > eps:
      Stopcode = "NoStopping"
    else:
      Stopcode = "Stop"
    i+=1
    
  T2 = ([[i, atable[i], btable[i], xtable[i], f(atable[i]), 
        f(btable[i]), f(xtable[i]), ErrorTable[i], 
        ErrorNoteTable[i]] for i in range(len(xtable))])
  T2 = pd.DataFrame(T2, columns=["Iteration", "a", "b", "x_i", "f[a]", "f[b]", "f[x_i]", "er", "ErrorNote"])
  display(T2)

In [9]:
# First Root
ErrorTable = [1]
ErrorNoteTable = []
atable = [-0.6]
btable = [-0.5]
xtable = []
print("First Root")
bisection(ErrorTable,ErrorNoteTable,atable,btable,xtable)

First Root

,Iteration,a,b,x_i,f[a],f[b],f[x_i],er,ErrorNote
0,0,-0.600000,-0.500000,-0.550000,0.221238,-0.058170,0.071935,1.000000,Root between xi and b
1,1,-0.550000,-0.500000,-0.525000,0.071935,-0.058170,0.003651,-0.047619,Root between xi and b
2,2,-0.525000,-0.500000,-0.512500,0.003651,-0.058170,-0.028166,-0.024390,Root between a and xi
3,3,-0.525000,-0.512500,-0.518750,0.003651,-0.028166,-0.012472,0.012048,Root between a and xi
4,4,-0.525000,-0.518750,-0.521875,0.003651,-0.012472,-0.004463,0.005988,Root between a and xi
5,5,-0.525000,-0.521875,-0.523438,0.003651,-0.004463,-0.000419,0.002985,Root between a and xi
6,6,-0.525000,-0.523438,-0.524219,0.003651,-0.000419,0.001613,0.001490,Root between xi and b
7,7,-0.524219,-0.523438,-0.523828,0.001613,-0.000419,0.000596,-0.000746,Root between xi and b
8,8,-0.523828,-0.523438,-0.523633,0.000596,-0.000419,0.000088,-0.000373,Root between xi and b

In [10]:
# Second Root
ErrorTable = [1]
ErrorNoteTable = []
atable = [-0.3]
btable = [-0.2]
xtable = []
print("Second Root")
bisection(ErrorTable,ErrorNoteTable,atable,btable,xtable)

Second Root

,Iteration,a,b,x_i,f[a],f[b],f[x_i],er,ErrorNote
0,0,-0.300000,-0.200000,-0.250000,-0.172159,0.079590,-0.071402,1.000000,Root between xi and b
1,1,-0.250000,-0.200000,-0.225000,-0.071402,0.079590,-0.001820,-0.111111,Root between xi and b
2,2,-0.225000,-0.200000,-0.212500,-0.001820,0.079590,0.037464,-0.058824,Root between a and xi
3,3,-0.225000,-0.212500,-0.218750,-0.001820,0.037464,0.017459,0.028571,Root between a and xi
4,4,-0.225000,-0.218750,-0.221875,-0.001820,0.017459,0.007727,0.014085,Root between a and xi
5,5,-0.225000,-0.221875,-0.223438,-0.001820,0.007727,0.002930,0.006993,Root between a and xi
6,6,-0.225000,-0.223438,-0.224219,-0.001820,0.002930,0.000549,0.003484,Root between a and xi
7,7,-0.225000,-0.224219,-0.224609,-0.001820,0.000549,-0.000637,0.001739,Root between xi and b
8,8,-0.224609,-0.224219,-0.224414,-0.000637,0.000549,-0.000044,-0.000870,Root between xi and b
9,9,-0.224414,-0.224219,-0.224316,-0.000044,0.000549,0.000252,-0.000435,Root between a and xi

In [11]:
# Third Root
ErrorTable = [1]
ErrorNoteTable = []
atable = [0.1]
btable = [0.9]
xtable = []
print("Third Root")
bisection(ErrorTable,ErrorNoteTable,atable,btable,xtable)

Third Root

,Iteration,a,b,x_i,f[a],f[b],f[x_i],er,ErrorNote
0,0,0.100000,0.900000,0.500000,1.459492,-1.204732,1.138774,1.000000,Root between xi and b
1,1,0.500000,0.900000,0.700000,1.138774,-1.204732,-0.180816,0.285714,Root between a and xi
2,2,0.500000,0.700000,0.600000,1.138774,-0.180816,0.503478,-0.166667,Root between xi and b
3,3,0.600000,0.700000,0.650000,0.503478,-0.180816,0.159304,0.076923,Root between xi and b
4,4,0.650000,0.700000,0.675000,0.159304,-0.180816,-0.012287,0.037037,Root between a and xi
5,5,0.650000,0.675000,0.662500,0.159304,-0.012287,0.073252,-0.018868,Root between xi and b
6,6,0.662500,0.675000,0.668750,0.073252,-0.012287,0.030403,0.009346,Root between xi and b
7,7,0.668750,0.675000,0.671875,0.030403,-0.012287,0.009036,0.004651,Root between xi and b
8,8,0.671875,0.675000,0.673437,0.009036,-0.012287,-0.001631,0.002320,Root between a and xi
9,9,0.671875,0.673437,0.672656,0.009036,-0.001631,0.003701,-0.001161,Root between xi and b
10,10,0.672656,0.673437,0.673047,0.003701,-0.001631,0.001034,0.000580,Root between xi and b
11,11,0.673047,0.673437,0.673242,0.001034,-0.001631,-0.000299,0.000290,Root between a and xi